body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.encabezado {
    background-color:  #ebebe7 ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 30px 50px;
}

.logo-texto {
    text-align: left;
}

.logo-texto h1 {
    font-size: 36px;
    margin: 0;
}

.logo-texto h1 strong {
    font-weight: bold;
}

.logo-texto p {
    margin: 5px 0 0;
    font-size: 16px;
}

.planta-encabezado {
    width: 190px;
    height: auto;
}

main {
    padding: 30px;
}

.producto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    gap: 30px;
}

.producto img {
    width: 250px;
    height: auto;
}

.descripcion {
    text-align: left;
    font-size: 16px;
}

footer {
    background-color: #b55a12;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
}
